@import '../../../styles/_variables';

.standard-container {
  .mint-ark-option {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 20px;
    line-height: 38px;
  }

  .ark-editor-container,
  .logger-container {
    top: 38px !important;
  }
}

.resource-tree-container,
.resource-file-container {
  overflow-y: auto;
  position: absolute;
  top: 38px;
  bottom: 0;
  width: 100%;
  background-color: $light-background-color;

  .resource-tree {
    padding: 20px;
  }
}

.resource-file-container {
  width: 75%;
  border-right: 1px solid $darker-background-color;
}

.resource-file-browser {
  overflow-y: auto;
  position: absolute;
  top: 38px;
  bottom: 0;
  right: 0;
  width: 25%;
  background-color: $background-color;
}

.resource-file-container {
  padding: 20px;
}
