@import '~styles/_variables';

.tree {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 17px;

  .item {
    position: relative;
    -webkit-user-select: none;

    .subselection {
      background-color: $green;
    }

    &.children::before {
      font-family: 'FontAwesome';
      content: '\f054';
      font-size: 0.6em;
      width: 17px;
      height: 17px;
      line-height: 17px;
      vertical-align: middle;
      text-align: center;
      position: absolute;
      top: 4px;
      left: -4px;
      transition: transform 0.15s;
    }
    &.children {
      > .form-check-input {
        margin-left: 0;
      }
      > .table .title {
        cursor: pointer;
      }
    }
    &.expanded::before {
      transition: 0.15s;
      transform: rotate(90deg);
    }

    .table {
      display: table;
      margin: 0;

      .title-container {
        display: table-cell;
        width: 100%;
        position: relative;

        .production-note {
          position: relative;
          display: inline-block;
          cursor: pointer;

          &:hover {
            .text {
              visibility: visible;
            }
          }

          .production-flag {
            &::before {
              font-family: 'FontAwesome';
              content: "\f024";
              padding-left: 10px;
              color: $notes-flag;
            }
          }

          .text {
            width: max-content;
            max-width: 50vw;
            top: 100%;
            left: 50%;
            margin-left: -6px;
            visibility: hidden;
            position: absolute;
            z-index: 1000;
            background-color: $notes-background;
            color: $notes-flag;
            border-radius: 6px;
            padding: 5px 10px;
          }
        }

        .can-edit::before{
          font-family: 'FontAwesome';
          content: "\f044";
          padding-left: 10px;
          color: $edit-blue;
          cursor: pointer;
        }
      }

      .title {
        display: table-cell;
        width: 100%;

        &.title-edit {
          input {
            width: 50%;
            font-size: 14px;
            display: inline-block;
          }

          .confirm-edit::after{
            font-family: 'FontAwesome';
            content: "\f00c";
            padding-left: 10px;
            color: $confirm-blue;
            cursor: pointer;
          }

          .cancel-edit::after{
            font-family: 'FontAwesome';
            content: "\f00d";
            padding-left: 10px;
            color: $cancel-gray;
            cursor: pointer;
          }

        }
      }

      .form-check-input {
        margin-left: 15px;
      }
    }

    .container {
      font-size: 0.8em;
      padding-left: 38px;
      color: $container-file-level;
      margin: 0;

      &.item {
        color: $container-item-level;
      }
    }
  }
}
