<div class="tree-view" *ngIf="children">
  <ul class="tree">
    <li
      class="item"
      *ngFor="let c of children"
      [class.expanded]="c.expanded"
      [class.children]="c.children.length > 0"
      (contextmenu)="onContextMenu(c, $event)">
      <div class="table">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="c.selected"
          [class.subselection]="hasSelectedChildren(c)" />
        <span
          *ngIf="!c.editTitle"
          class="title"
          [class.production-note]="c.productionNotes"
          (dblclick)="editTitle(c)"
          (click)="toggle(c, $event)">
            {{ displayTitle(c) }}
            <span *ngIf="c.artificial" class="can-edit" (click)="editTitle(c)"></span>
        </span>
        <div *ngIf="c.editTitle"
          [class.production-note]="c.productionNotes"
          class="title title-edit input-group">
          <input
            class="field-input form-control"
            type="text"
            (keydown)="keydownCheck($event, c)"
            [(ngModel)]="c.title" #titleField />
          <span class="confirm-edit" (click)="clickConfirm(c)"></span>
          <span class="cancel-edit" (click)="clickCancel(c)"></span>
        </div>
      </div>
      <div
        [ngClass]="containerClasses(c)"><i *ngIf="c.containersLoading" class="fa fa-refresh fa-spin" aria-hidden="true" style="margin-right: 5px;"></i>{{ displayContainer(c) }}</div>
      <tree-view *ngIf="c.children && c.expanded" [children]="c.children"></tree-view>
    </li>
  </ul>
</div>
