<div class="item-view-container">
    <div class="collection-info">
      <div class="collection input-group">
        <input
          type="text"
          placeholder="Collection Title or ARK Url"
          class="form-control form-control-sm"
          [(ngModel)]="resource.title"
          (change)="setTitle()" />
        <span class="vocab" *ngIf="titleIsArk()">{{ resource.vocabTitle }}</span>
      </div>
      <div class="items input-group">
        <input
          type="text"
          size="3"
          class="items-input form-control form-control-sm"
          [(ngModel)]="addNumberOfItems"
          (keyup.enter)="addItems()" />
        <span class="input-group-btn">
          <button
            type="button"
            class="btn btn-primary"
            (click)="addItems()">Add Items</button>
        </span>
      </div>
  </div>
  <div class="items-container scrollbars">
    <div class="items-list">
      <ul class="items">
        <li
          *ngFor="let c of items; let i = index"
          (contextmenu)="onContextMenu(i, c, $event)">
            <span *ngIf="!c.editTitle" (dblclick)="editTitle(c)">
              {{ c.title }}
              <span class="can-edit" (click)="editTitle(c)"></span>
              <div *ngIf="c.productionNotes" class="production-note">
                <span class="production-flag"></span>
                <span class="text">{{ c.productionNotes }}</span>
              </div>
            </span>
            <div *ngIf="c.editTitle"
              class="title-edit input-group">
              <input
                class="field-input form-control"
                type="text"
                (keydown)="keydownCheck($event, c)"
                [(ngModel)]="c.title" #titleField />
              <span class="confirm-edit" (click)="clickConfirm(c)"></span>
              <span class="cancel-edit" (click)="clickCancel(c)"></span>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>
