@import '~styles/_variables';

.collection-info {
  padding: 20px;
  position: relative;
  overflow: hidden;

  .collection {
    width: 60%;
    float: left;

    .vocab {
      padding-left: 20px;
      line-height: 27px;
    }
  }

  .items {
    float: right;
    width: auto;
  }
}

.items-container {
  clear: both;
  width: 100%;
  overflow-y: auto;
  background-color: $light-background-color;
  border-top: 1px solid $darker-background-color;
  position: absolute;
  top: 108px;
  bottom: 0;

  .items-list {
    padding: 20px;

    .items {
      list-style: none;
      margin: 0;
      padding: 0;

      .production-note {
        position: relative;
        display: inline-block;
        cursor: pointer;

        &:hover {
          .text {
            visibility: visible;
          }
        }

        .production-flag {
          &::before {
            font-family: 'FontAwesome';
            content: "\f024";
            padding-left: 10px;
            color: $notes-flag;
          }
        }

        .text {
          width: max-content;
          max-width: 50vw;
          top: 100%;
          left: 50%;
          margin-left: -6px;
          visibility: hidden;
          position: absolute;
          z-index: 1000;
          background-color: $notes-background;
          color: $notes-flag;
          border-radius: 6px;
          padding: 5px 10px;
        }
      }

      .can-edit::before{
        font-family: 'FontAwesome';
        content: "\f044";
        padding-left: 10px;
        color: $edit-blue;
        cursor: pointer;
      }

      .title-edit {
        display: block;
        input {
          width: 50%;
          font-size: 14px;
          display: inline-block;
        }

        .confirm-edit::after{
          font-family: 'FontAwesome';
          content: "\f00c";
          padding-left: 10px;
          color: $confirm-blue;
          cursor: pointer;
        }

        .cancel-edit::after{
          font-family: 'FontAwesome';
          content: "\f00d";
          padding-left: 10px;
          color: $cancel-gray;
          cursor: pointer;
        }

      }

    }
  }
}
