<div *ngIf="child" class="file-container">
  <div *ngIf="child.selected" class="file">
    <div class="title">
      <span class="object-container item" (click)="openContainerFolder(child)"><i *ngIf="child.containersLoading" class="fa fa-refresh fa-spin" aria-hidden="true" style="margin-right: 5px;"></i>{{ displayContainer(child) }}</span>
    </div>
    <div class="level" (click)="openArchivalObjectUrl(child)">
      <span class="parent-title" *ngIf="child.artificial">{{ child.parent.title }}</span>{{ child.title }}
    </div>
    <div class="notes">
      <div class="notes-content">{{ child.productionNotes }}</div>
    </div>
    <div class="file-list">
      <div class="row">
        <div *ngFor="let purpose of files.purposeMap; trackBy: trackByPurposeName" class="col file-col text-truncate">
          <div
            class="drop {{ purpose.name }}"
            (dragenter)="handleDragEnter($event.target)"
            (dragleave)="handleDragLeave($event.target)"
            (dragover)="false"
            (dragend)="false"
            (drop)="handleDrop(child, purpose.name, $event)">
            <span class="label">{{ purpose.title }}</span>
            <span
              class="btn-add"
              (click)="addFile(child, purpose.name)">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
          </div>
          <ul class="files">
            <li class="file" *ngFor="let file of child.files | filepurposefilter:purpose.name; trackBy: trackByFileUuid" [file-draggable]="file">
              <div class="{{file.purpose}}">
                <span
                  class="filename"
                  title="{{ file.name }}"
                  (click)="openFile(file.path)">{{ file.name }}</span>
                <i
                  class="fa fa-trash remove"
                  aria-hidden="true"
                  (click)="removeFile(child, file.uuid)"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
