.panel-left {
  display: flex;
  background-color: #21252b;
  position: relative;
  color: #9da5b4;
  box-sizing: border-box;
  width: 300px;
  height: 100%;
  overflow: auto;
}

.panel-right {
  flex: 1;
  display: flex;
  min-height: 0;
  min-width: 0;
  position: relative;
  height: 100%;
  color: #9ba5b4;
  background-color: #282c34;
  border: 1px solid #181a1f;
}