<div *ngFor="let c of children" class="file-container">
  <div *ngIf="c.selected" class="file">
    <div class="title">
      <span [ngClass]="containerClass(c)">{{ displayContainer(c) }}</span>
    </div>
    <div class="level">
      <span class="parent-title" *ngIf="c.artificial">{{ c.parent.title }}</span>{{ c.title }}
    </div>
    <div class="file-list">
      <div class="row">
        <div *ngFor="let purpose of files.purposeMap" class="col file-col text-truncate">
          <div
            class="drop {{ purpose.name }}"
            (dragenter)="handleDragEnter($event.target)"
            (dragleave)="handleDragLeave($event.target)"
            (dragover)="false"
            (dragend)="false"
            (drop)="handleDrop(c, purpose.name, $event)">
            <span class="label">{{ purpose.title }}</span>
            <span
              class="btn-add"
              (click)="addFile(c, purpose.name)">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
          </div>
          <ul class="files">
            <li class="file" *ngFor="let file of c.files | filepurposefilter:purpose.name" [file-draggable]="file">
              <div class="{{file.purpose}}">
                <span
                  class="filename"
                  title="{{ file.name }}"
                  (click)="openFile(file.path)">{{ file.name }}</span>
                <i
                  class="fa fa-trash remove"
                  aria-hidden="true"
                  (click)="removeFile(c, file.uuid)"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <file-view [children]="c.children"></file-view>
</div>
