$background-color: #21252b;
$darker-background-color: #1b1d23;
$light-background-color: #282c34;
$select-background-color: #31363f;
$input-select-background-color: #353b45;
$checkbox-background-color: #528bff;
$scrollbar-background: #282c34;
$text-color: #9da5b4;
$light-text-color: #d7dae0;
$inactive-text-color: #69707b;

$blue: #0088ff;
$light-blue: #6494ed;
$green: #20b684;
$yellow: #e2c08d;
$purple: #c678dd;
$red: #ff6347;

$series-level: #d19a66;
$subseries-level: #98c379;
$other-level: #56b6c2;
$container-file-level: #61afef;
$container-item-level: #e06c75;

$field-border-color: #181a1f;
$field-focus-border-color: #528bff;
