#logger-display {
  box-sizing: border-box;
  position: absolute;
  top: 206px;
  bottom: 0;
  width: 100%;
  background-color: #000;
  padding: 5px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 1;
}

.logger-display-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logger-display-list li {
  color: #eee;
  font-family: monospace;
  font-size: 12px;
}

#logger-display .warn {
  color: #cccc00;
}

#logger-display .error {
  color: #FF0000;
}

#logger-display .good {
  color: #00cc00;
}

#logger-save-button {
  position: absolute;
  color: #fff;
  bottom: 0;
  right: 0;
  float:right;
  z-index: 2;
  font-size: 12px;
  opacity: 0.5;
  cursor: pointer;
  padding: 10px;
}