<div #notifications class="notifications scrollbars" [ngStyle]="notificationStyles()">
  <div
    *ngIf="question"
    class="notification warning">
    <div class="notification-content">
      <div class="message">{{ question }}</div>
      <div class="button">
        <button 
          class="btn btn-primary"
          type="button"
          (click)="answer(true)"
        >
          Yes
        </button>
        <button 
          class="btn btn-primary"
          type="button"
          (click)="answer(false)"
        >
          No
        </button>
      </div>
    </div>
  </div>
  <div
    *ngFor="let bar of progressbars"
    class="notification info">
    <div class="notification-content">
      <div class="message">{{ bar.description }}</div>
      <progress max="{{ bar.max }}" value="{{ bar.value }}"></progress>
    </div>
  </div>
  <div
    *ngFor="let entry of entries; let i = index"
    [ngClass]="notifyClass(entry)">
    <div class="notification-content">
      <div class="message">{{ entry.message }}</div>
      <div *ngIf="entries.length > 1" class="button">
        <button
          class="btn btn-primary"
          type="button"
          (click)="closeAll()">Close All</button>
        </div>
    </div>
    <div class="notification-close" (click)="close(i)"></div>
  </div>
</div>
