.logger-container {
  position: absolute;
  width: 100%;
  background-color: #000;
  box-sizing: border-box;
  padding: 5px;
  top: 208;
  bottom: 0;
  overflow: scroll;

  ol {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-family: monospace;

      &.success {
        color: #00cc00;
      }
      &.warning {
        color: #cccc00;
      }
      &.error {
        color: #ff0000;
      }
    }
  }

  .save-btn {
    position: fixed;
    color: #fff;
    bottom: 15;
    right: 15;
    float:right;
    z-index: 2;
    font-size: 12px;
    opacity: 0.5;
    cursor: pointer;
    padding: 10px;
  }
}

.scrollbars::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scrollbars::-webkit-scrollbar-corner {
  background: #000;
}
.scrollbars::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: 3px solid #000;
  border-color: #000;
  background: #3c424e;
  background-clip: content-box;
}
.scrollbars::-webkit-scrollbar-track {
  background: #000;
}
