<div class="tree-view" *ngIf="children">
  <ul class="tree">
    <li
      class="item"
      *ngFor="let c of children"
      [class.expanded]="c.expanded"
      [class.children]="c.children.length > 0"
      (contextmenu)="onContextMenu(c, $event)">
      <div class="table">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="c.selected"
          [class.subselection]="hasSelectedChildren(c)" />
        <span
          class="title"
          [class.production-note]="c.productionNotes"
          (click)="toggle(c, $event)">{{ displayTitle(c) }}</span>
      </div>
      <div
        [ngClass]="containerClasses(c)">{{ displayContainer(c) }}</div>
      <tree-view *ngIf="c.children && c.expanded" [children]="c.children"></tree-view>
    </li>
  </ul>
</div>
