<div class="item-view-container">
  <div class="add-item input-group">
    <input
      type="text"
      placeholder="Collection Title"
      class="collection-title-input form-control form-control-sm"
      [(ngModel)]="title"
      (change)="setTitle()" />
    <div class="items-input-group">
      <input
        type="text"
        size="3"
        class="items-input form-control form-control-sm"
        [(ngModel)]="addNumberOfItems"
        (keyup.enter)="addItems()" />
      <button
        type="button"
        class="btn btn-primary"
        (click)="addItems()">Add Items</button>
    </div>
  </div>
  <div class="items-container scrollbars">
    <div class="items-list">
      <ul class="items">
        <li
          *ngFor="let c of items; let i = index"
          (contextmenu)="onContextMenu(i, $event)">{{ c.title }}</li>
      </ul>
    </div>
  </div>
</div>
