<div class="browser-container">
  <div class="buttons">
    <button
      type="button"
      class="btn btn-primary"
      (click)="loadFiles()">Load Files</button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="assignFiles()">Assign Files</button>
  </div>
  <div class="assign-options input-group">
    <input
      class="form-check-input"
      type="checkbox"
      [(ngModel)]="willAssignFiles" />
    <span>Assign</span>
    <input
      type="text"
      size="2"
      maxlength="2"
      class="assign-input form-control form-control-sm"
      [(ngModel)]="assignNumberOfFiles" />
    <span>files per object</span>
  </div>
  <div class="files-container scrollbars">
    <ul class="files">
      <li *ngFor="let file of files" [class]="file.purpose">{{ file.name }}</li>
    </ul>
  </div>
</div>
